* {
  box-sizing: border-box;
}

body{
  font-family: 'Barlow', sans-serif;
}

/* @media screen and (min-width: 992px){
  html{
    font-size: 2rem;
  }
} */


.bg-yellow{
  background-color: rgb(255, 255, 115);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
